* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

#check {
    display: none;
}

header {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: nowrap;
}

.icon,
.sub {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.header .head {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head h2 {
    font-family: 'Lobster', cursive;
}

.head h2::first-letter {
    color: #ff0000;
}

.header .socials {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header .socials a {
    margin-left: 10px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.bar {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 8px;
}

.fa-facebook {
    color: #3a3aee;
}

.fa-twitter {
    color: #1e90ff;
}

.fa-linkedin {
    color: #086cd1;
}

.fa-bell {
    color: #f71201;
    font-size: 1.4rem;
}

.fa-hamburger {
    font-size: 1.4rem;
    color: #b97331;
}

header .icon {
    transition: all 0.5s ease-in-out;
}

.navbar {
    position: absolute;
    top: 8vh;
    left: -50rem;
    width: 100%;
    height: 9vh;
    background-color: #272626;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

#check:checked~.navbar {
    position: initial;
    opacity: 1;
    border: 1px solid #272626;
}

#check:checked~header .icon {
    background-color: #272626;
    border: 1px solid #272626;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}

.banner {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/pexels-dana-tentis-691114.jpg') center/cover no-repeat;
    animation: image 30s ease-in-out 0.2s infinite;
}

@keyframes image {
    40% {
        background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/pexels-daria-shevtsova-3626606.jpg') center/cover no-repeat;
    }
    80% {
        background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/pexels-cottonbro-3298605.jpg') center/cover no-repeat;
    }
}

.banner-content {
    width: 80%;
    color: #fff;
}

.banner-content h1 {
    width: 100%;
    text-align: center;
}

.banner-content p {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.banner-content p::first-letter {
    font-size: 1.4rem;
    font-weight: bold;
}

.banner-content .link {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.link a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #149b14;
    margin-left: 8px;
    color: #fff;
    border-radius: 3px;
}

.link a:hover,
.link a:active {
    background-color: #0d490d;
}

.link>a:nth-last-child(1) {
    background-color: #f71201;
}

.link>a:hover:nth-last-child(1),
.link>a:active:nth-last-child(1) {
    background-color: #f05c52;
}

main .detail {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-flow: column;
}

.detail .services {
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
}

.service {
    height: 15vh;
    display: flex;
    flex-flow: column;
}

.desp-1 {
    height: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.desp-1>span {
    border: 2px solid #086cd1;
    border-radius: 200px;
    padding: 11px 10px;
    text-align: center;
}

.desp-1 .fa-paper-plane,
.desp-1 .fa-star,
.desp-1 .fa-bicycle {
    color: #1e90ff;
    font-size: 1.4rem;
}

.service h4 {
    height: 50%;
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
}

.detail .description {
    min-height: 25vh;
    display: flex;
}

.description .rating {
    width: 50%;
    min-height: 12.5vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #272626;
}

.rating .stars {
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    color: #086cd1;
}

.rating h3 {
    text-align: center;
}

.description .info {
    width: 50%;
    min-height: 12.5vh;
    display: flex;
    flex-flow: column;
    padding: 10px 5px;
}

.info h3 {
    text-align: center;
}

.info p {
    text-align: center;
}

.subscribe {
    margin-top: 10px;
}

.subscribe span {
    display: block;
    text-align: center;
}

.subscribe a {
    display: block;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #f71201;
    border-radius: 10px;
    background-color: #f71201;
}

.subscribe a .fa-bell {
    color: #fff;
}

main .gallery {
    display: none;
}

main .card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.card .profile {
    display: flex;
    width: 80%;
    flex-flow: column;
    align-items: stretch;
    border: 2px solid #f71201;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 2px 3px 5px grey;
}

.profile h3 {
    text-align: center;
    margin-bottom: 5px;
    color: #086cd1;
}

.profile h4 {
    text-align: center;
    margin-bottom: 5px;
}

.profile .img {
    height: 350px;
    width: 100%;
}

.img img {
    display: block;
    width: 100%;
    height: 100%;
}

.profile p {
    margin-top: 10px;
}

.profile .accounts {
    display: flex;
    justify-content: space-evenly;
}

.accounts a {
    padding: 8px;
    font-size: 1.2rem;
}

.accounts a:hover,
.accounts a:active {
    color: red;
}

footer {
    display: grid;
    min-height: 40vh;
    background-color: #272626;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 8px;
    gap: 8px;
    padding: 20px;
    color: #f0f8ff;
}

.snacks ul,
.country ul,
.continental ul {
    display: flex;
    flex-flow: column;
}

.snacks ul a,
.country ul a,
.continental ul a {
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
}

.snacks ul a:active,
.country ul a:active,
.continental ul a:active {
    color: #1e90ff;
}

.contact {
    grid-area: 2/1/3/4;
    padding: 12px;
}

.contact span {
    display: block;
    margin-top: 15px;
}

.fa-whatsapp {
    color: rgb(42, 184, 42);
    font-size: 1.4rem;
    margin-left: 1rem;
}

.contact .fa-facebook {
    color: #4343fc;
    font-size: 1.4rem;
}

@media screen and (min-width:360px) {
    header {
        height: 12vh;
    }
    .navbar {
        height: 13vh;
    }
    main .banner {
        height: 55vh;
    }
    main .detail {
        padding: 1.8rem 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    header {
        height: 10vh;
    }
    .navbar {
        height: 10vh;
    }
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/medium/pexels-dana-tentis-691114.jpg') center/cover no-repeat;
        animation: image 30s ease-in-out 0.2s infinite;
    }
    @keyframes image {
        40% {
            background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/medium/pexels-daria-shevtsova-3626606.jpg') center/cover no-repeat;
        }
        80% {
            background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/medium/pexels-cottonbro-3298605.jpg') center/cover no-repeat;
        }
    }
    main .detail {
        padding: 1.8rem 3rem;
    }
    .info h3 {
        font-size: 1.4rem;
    }
    .info p {
        font-size: 1.2rem;
    }
    .subscribe span {
        color: #086cd1;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .card .profile {
        width: 60%;
    }
}

@media screen and (min-width:900px) {
    .sub,
    .icon {
        display: none;
    }
    header {
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .header .socials {
        position: absolute;
        left: 40vw;
    }
    .navbar {
        left: 15vw;
        top: 5vh;
        opacity: 1;
        height: 5vh;
        width: 70%;
        background-color: #fff;
    }
    .navbar ul {
        flex-flow: row nowrap;
    }
    .navbar ul li a {
        color: #272626;
        font-size: 1.1rem;
    }
    .navbar ul li a:hover,
    .navbar ul li a:active {
        color: #1e90ff;
    }
    .banner .banner-content {
        width: 50%;
    }
    main .detail {
        flex-flow: row nowrap;
    }
    .detail .services {
        flex-flow: column nowrap;
        width: 50%;
    }
    .service {
        flex-flow: row nowrap;
    }
    .service h4 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        font-size: 1.3rem;
    }
    .description {
        flex-flow: column nowrap;
        border: 2px solid #272626;
    }
    .description .rating {
        width: 100%;
        font-size: 1.3rem;
        border: none;
    }
    .description .info {
        width: 100%;
        height: auto;
        margin-top: 4rem;
    }
    .info h3 {
        font-size: 1.5rem;
    }
    .info p {
        font-size: 1.5rem;
    }
    .description .subscribe {
        margin-top: 9rem;
    }
    .description .subscribe span {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .subscribe a {
        width: 50%;
        padding: 10px;
        margin-left: 10rem;
    }
    main .gallery {
        display: grid;
        width: 100%;
        background-color: #272626;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(200px, auto);
        justify-items: center;
        grid-gap: 5px;
        gap: 5px;
        overflow: hidden;
    }
    .gallery img {
        opacity: 0.8;
        display: block;
        animation: img 10s ease 0.2s infinite;
    }
    @keyframes img {
        40% {
            transform: scale(1.3, 1.3);
            opacity: 1;
            justify-self: end;
            align-self: end;
        }
        80% {
            transform: scale(1, 1);
            opacity: 0.98;
            ustify-self: left;
            align-self: start;
        }
    }
    .gallery h1 {
        grid-area: 3/1/4/5;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3.5rem;
        color: #fff;
        opacity: 0.95;
    }
    .card .profile {
        width: 40%;
    }
    .card .profile h3 {
        font-size: 1.5rem;
    }
    .profile h4 {
        font-size: 1..3rem;
    }
}

@media screen and (min-width:1200px) {
    header {
        height: 12vh;
    }
    main .banner {
        height: 70vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/large/pexels-dana-tentis-691114.jpg') center/cover no-repeat;
        animation: image 30s ease-in-out 0.2s infinite;
    }
    @keyframes image {
        40% {
            background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/large/pexels-daria-shevtsova-3626606.jpg') center/cover no-repeat;
        }
        80% {
            background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, transparent), url('./images/large/pexels-cottonbro-3298605.jpg') center/cover no-repeat;
        }
    }
    main .detail {
        padding: 3rem 15rem;
    }
    main .gallery {
        width: 80%;
        height: 70vh;
        margin-left: 10rem;
    }
    .card .profile {
        width: 25%;
    }
}